:root {
    --titulo-primario: #ffffff;
    --titulo-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'inter';

}

*{
    border: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--titulo-primario);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    

}
.container__caixa{
    margin: 0 6em;

}
.titulo {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.principal {
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.principal__links {
    background-color: var(--botao-azul);
    color: var(--titulo-primario);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
}
.link__secundario {
    background-color: transparent;
    border: 2px solid var(--titulo-primario);
    text-align: center;
    text-decoration: none;
}
.container__aviso {
    text-align: center;
    font-size: 12px;
    color: var(--titulo-secundario);
}
.container__imagem {
    margin: 1em 0 2em 0;

}
.imagem__plataforma {
    width: 80%;
    margin-top: 0;
}

.secundario {
    align-items: center;
    margin: 0 10em;
    display: flex;
    gap: 70px;
    margin-bottom: 7em;
}
.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--titulo-primario);
    margin-bottom: 0.3em;
}
.descricao__paragrafo {
    color: var(--titulo-secundario);
}
.botao {
    background-color: var(--botao-azul);
    color: var(--titulo-primario);
    border-radius: 5px;
    padding: 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
} 
.dispositivos__titulo {
    text-align: center;
    margin-top: 3em;
    font-size: 48px;
    color: var(--titulo-primario);
}
.lista__item {
    text-align: center;
    font-size: 32px;
}
.rodape {
    text-align: center;
    margin-top: 5em;
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    color: var(--titulo-primario);
    font-size: 16px;
}
.rodape__texto {
    color: var(--titulo-secundario);
    font-size: 14px;
    margin: 1em 0;
}
.lista__link {
    color: var(--titulo-primario);
    text-decoration: none;
}